img {
    width: 25%;
    display: block;
    margin: 20px auto;
    border: 10px solid crimson;
    border-radius: 10%;
}
body {
    background-color: #eab676;
}
.imagy {
    
    margin-left: auto;
    margin-right: auto;
  
}
.titles {
    display: block;
    text-align: center;
    text-decoration: underline;
}
 #thetite {
     text-align: center;
 }
 h1 {
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     font: 100;
 }
 h2 {
     font:100;
     font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
 }
 img:hover {
border: 5px dotted blue;
 }
 #para {
     width: 900px;
     margin: auto auto;
 }
 #para:hover {
     color: grey;
 }
 #promo {
     color: green;
 }